.form-error {
  font-size: 1.4rem;
  color: var(--color-danger--3);
  font-weight: 700;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

.column {
  display: flex;
  flex-direction: column;
  color: var(--color-light--2);
  gap: 0.5rem;
}

.column label {
  font-size: 1.8rem;
}

@media screen and (max-width: 450px) {
  .column label {
    font-size: 1.4rem;
  }
}
